
<div class="one">
    <div class="contact">
        <p class="title">New Category</p>
        <form action="">
          <div>
            <p>Name / Surname</p>
            <input type="text" />
          </div>

          <div>
            <div class="contact__direction">
              <p>Category</p>
              <select id="departament">
                <option value="Antioquia"> </option>
                <option value="Cundinamarca">Cundinamarca</option>
              </select>
            </div>
          </div>

          <div>
            <p>Participation</p>
            <input type="number" />
          </div>

          <div class="contact__mensage">
            <p>Desccription</p>
            <textarea></textarea>
          </div>
        </form>
      </div>
    </div>
    
    
    <div class="button">
        <a href="/login"><button>Add</button></a>
    </div>
    