
<div class="one">
    <div class="contact">
        <p class="title">New Category</p>
        <form [formGroup]="formExample" (submit)="send()" method="post" >
          <div>
            <p>Name</p>
            <input type="text"  formControlName="name"/>
          </div>

          <div>
            <div class="contact__direction">
              <p>Category</p>
              <select   formControlName="category"  >
                <option *ngFor="let cato of cat;" value="{{cato.id}}"> {{cato.nombre}}</option>
              </select>
            </div>
          </div>

          <div>
            <p>Participation</p>
            <input type="number"  formControlName="Participation" />
          </div>

          <div class="contact__mensage">
            <p>Desccription</p>
            <textarea  formControlName="description"></textarea >
          </div>
        </form>
      </div>
    </div>
    
    
    <div class="button">
        <button (click)="send()" [disabled]="!formExample.valid" >Add</button>
    </div>
    