/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .header_container {
    width: 100vw;
    margin: 10px 0px;
  
    border-radius: 0px 0px 20px 20px;
    height: 50px;
    display: flexbox;
    padding: 5px 10vw;
    box-sizing: border-box;
    border: 1px solid #0005;
    border-top: none;
    box-shadow: #0005 1px 1px;
  }
  
  
  .header_container div {
    display: inline-block;
  }
  
  .header_container div div {
    display: inline-block;
    vertical-align: 50%;
  }
  .container__logo img {
    width: 40px;
  }
  .container__logo div {
    width: 80px;
  }
  .container__logo div p {
    display: block;
    margin: 0px;
  }
  
  .header_container .header__left {
    text-align: end;
    width: 39%;
  }
  .header_container .header__right {
    height: 100%;
    width: 60%;
  }
  
  .header_container .header__right .container__logo {
    width: auto;
  }
  .header_container .header__right .container__links {
    width: 55%;
    vertical-align: top;
    margin: 12px 20px;
  }
  
  .header_container .header__right .container__links a {
    margin: 0px 0px 0px 22px;
  }
  
  .header_container .header__left {
    vertical-align: top;
  }
  .header_container .header__left .container__porfile {
    margin: 7px 10px;
    height: auto;
  }
  .header_container .header__left .container__porfile span {
    font-size: 30px;
  }
  
  .header_container .header__left .container__porfile div button {
    width: 120px;
    background-color: #069147;
    border-radius: 6px;
    box-shadow: none;
    border: 0px;
    color: white;
    height: 30px;
  }
  
  .footer_container {
    width: 100vw;
    height: 250px;
    background-color: #2d363c;
  }
  .footer_container .footer__left {
    width: 50%;
  }
  .footer_container .footer__right {
    width: 48%;
  }
  
  .footer_container div {
    display: inline-block;
  }
  .footer__logo {
    margin: 0px 20px;
  }
  
  .footer__logo img {
    width: 150px;
    margin: 40px 0px;
  }
  
  .footer__logo div {
    width: 100px;
    vertical-align: top;
    margin: 30px 0px;
    color: azure;
    font-size: 550%;
  }
  
  .footer__logo div p {
    display: block;
    margin: 0px;
  }
  
  .footer__right {
    color: azure;
    vertical-align: top;
  }
  
  .footer__right a {
    color: azure;
    margin: 5px 0px;
  }
  .footer__right div {
    width: 120px;
    margin: 70px 30px 20px;
  }
  .footer__right .footer__links a {
    color: rgba(240, 255, 255, 0.5);
    margin: 0px 20px 0px 0px;
  }
  .footer__right .footer__legal {
    width: 220px;
    margin: 0px 0px 0px 30%;
  }
  .footer__right .footer__legal a {
    display: block;
  }
  .credits{
    color: white;
    background-color: #2d363c;
    text-align: center;
    margin: 0%;
    width: 100vw;
    height: 25px;
  }
  .credits p{
    margin: 0px;
  }