
<div class="one">
    <div class="contact">
        <p class="title">New City</p>
        <form action="">
          <div>
            <div class="contact__direction">
              <p>Category</p>
              <select id="departament">
                <option value="Antioquia">Antioquia </option>
                <option value="Cundinamarca">Cundinamarca</option>
              </select>
            </div>
          </div>

          <div>
            <p>New city</p>
            <input type="text" />
          </div>

        </form>
      </div>
    </div>
    
    
    <div class="button">
        <a href="/login"><button>Add</button></a>
    </div>