<div class="filtre">
    <div>
        <select id="city">
            <option value="">City</option>
            <option value="Medellin">Medellin</option>
            <option value="Itagui">Itagui</option>
        </select>
    </div>
    <div>
        <select id="type">
            <option value="">Type</option>
            <option value="House">House</option>
            <option value="Apartament">Apartament</option>
        </select>
    </div>
    <div>
        <select id="ofert">
            <option value="">Shop - Rent</option>
            <option value="vent">Vent</option>
            <option value="Rent">Rent</option>
        </select>
    </div>
    <div (click)="onRecreate()" >
        <input type="text">
        <span class="material-icons">search</span>
    </div>
</div>

<div class="container">
    <div class="container__text">
        <h2>Results:</h2>
        <p>{{size}}</p>
    </div>
    <div class="container__div">

        <div class="card" *ngFor="let cato of cat;" (click)="redirect(cato.id)">
            <img class="card__image" src="http://localhost:3000/archivo/1/{{ cato.pathFotografias[0] }}">
            <div class="card__text">
              <h2>{{ cato.general[0] }}$</h2>
              <p>{{ cato.categoria }}</p>
              <p>{{ cato.ciudad }}</p>
              <p>{{ cato.general[3] }} mt<sup>2</sup></p>
            </div>
        </div>
        


    </div>
</div>
