<div class="filtre">
    <div>
        <select id="departament">
            <option value="">City</option>
        </select>
    </div>
    <div>
        <select id="departament">
            <option value="">Type</option>
        </select>
    </div>
    <div>
        <select id="departament">
            <option value="">Shop - Rent</option>
        </select>
    </div>
    <div>
        <input type="text">
        <span class="material-icons">search</span>
    </div>
</div>

<div class="container">
    <div class="container__text">
        <h2>Results:</h2>
        <p>(123123)</p>
    </div>
    <div class="container__div">

        <div class="card" *ngFor="let cato of cat;" (click)="redirect(cato.id)">
            <img class="card__image" src="http://localhost:3000/archivo/1/{{ cato.pathFotografias[0] }}">
            <div class="card__text">
              <h2>{{ cato.general[0] }}$</h2>
              <p>type</p>
              <p>{{ cato.ciudad }}</p>
              <p>{{ cato.general[3] }} mt<sup>2</sup></p>
            </div>
        </div>
        


    </div>
</div>
