<div class="central">
    <p class="title green">Requests</p>
    <div class="list">

        <p class="green">Propiety</p>
        <p class="green">State</p>
        <p class="green">Delete</p>
        <p class="green">Comentary</p>


        <div class="card">
            <div class="card__image"></div>
            <div>
                <p>Title</p>
                <p class="class__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis unde adipisci qui neque sit atque mollitia natus officiis amet. Reiciendis natus vitae voluptatibus ipsum quos quasi illo quam temporibus laboriosam?</p>
            </div>
        </div>

        <p>Denied</p>

        <a href="/login"><button>Denied</button></a>

        <a href="/login"><button>View</button></a>

    </div>

</div>