<div class="central">
    <p class="title green">Requests</p>
    <div class="list">
        <div class="list__i">
            <p class="green">Propiety</p>
            <p class="green">State</p>
            <p class="green">Comentary</p>
        </div>


        <div *ngFor="let cato of cat; let i = index" class="list__i">
        <div class="card" >
            <img src="http://localhost:3000/archivo/1/{{rar[i].pathFotografias[0]}}" class="card__image">
            <div>
                <p>{{rar[i].title}}</p>
                <p class="class__p">{{rar[i].description}}</p>
            </div>
        </div>

        <p>{{cato.estadoSolicitud}}</p>


        <a href="/login"><button>View</button></a>
        </div>

    </div>

</div>