<div class="icon__div">
  <span class="material-icons active" >edit</span>
  <div class="divisor active"></div>
  <span class="material-icons">visibility</span>
  <div class="divisor"></div>
  <span class="material-icons">check</span>
</div>

<div class="category">
  <p class="title">Category</p>
  <div class="contact">
    <p>Housing</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>
  <div class="contact">
    <p>Sale</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>
</div>

<div class="general">
    <p class="title">General information</p>

  <div>
    <p>Title</p>
    <input type="text" />
  </div>

  <div class="contact__mensage">
    <p>Explanation</p>
    <textarea></textarea>
  </div>

  <div class="general__more">
    <div>
      <p>Price</p>
      <input type="number" />
    </div>
    <div class="contact">
        <p>Type</p>
        <select id="city">
          <option value="Medellin">Medellin</option>
          <option value="Itagui">Itagui</option>
        </select>
      </div>
  </div>

  <div>
    <p>Number of Room</p>
    <input type="number" />
  </div>

  <div>
    <p>Number of Living Room</p>
    <input type="number" />
  </div>

  <div>
    <p>Gross M<sup>2</sup></p>
    <input type="number" />
  </div>

  <div>
    <p>Net M<sup>2</sup></p>
    <input type="number" />
  </div>

  <div class="general__more">
  <div class="contact">
    <p>Warming Type</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>
</div>

  <div>
    <p>Building Age</p>
    <input type="number" />
  </div>

  <div>
    <p>Floor Location</p>
    <input type="text" />
  </div>

  <div class="contact">
    <p>Available for Loan</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>

  <div class="contact">
    <p>Furnished</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>

  <div class="contact">
    <p>Status</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>

  <div class="general__more">
    <div>
      <p>Dues</p>
      <input type="text" />
    </div>
    <div class="contact">
        <p>Type</p>
        <select id="city">
          <option value="Medellin">Medellin</option>
          <option value="Itagui">Itagui</option>
        </select>
      </div>


      
  </div>

  <div class="contact">
    <p>Swap</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>

  <div class="contact">
    <p>Front</p>
    <select id="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>

  <div class="general__more">
    <div>
      <p>Rental Income</p>
      <input type="number" />
    </div>
    <div class="contact">
        <p>Type</p>
        <select id="city">
          <option value="Medellin">Medellin</option>
          <option value="Itagui">Itagui</option>
        </select>
      </div>
  </div>

</div>

<div class="posting">
    <p class="title">Posting Photos</p>
    <div>
        <span class="material-icons">
            folder
            </span>
        <p>You can add 30 photos to your add</p>
        <input class="file" type="file" multiple>
    </div>

</div>

<div class="features">
    <p class="title">Features</p>
    <p class="subtitle">internal</p>
    <div class="features__grid">
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
    </div>

    <p>Externa</p>
    <div class="features__grid">
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
    </div>
</div>

<div class="button">
  <a href="/previewpublish">
    <button><p class="title">Next</p></button>
  </a>
</div>
