
<div class="icon__div">
  <span class="material-icons active" >edit</span>
  <div class="divisor active"></div>
  <span class="material-icons">visibility</span>
  <div class="divisor"></div>
  <span class="material-icons">check</span>
</div>



<form [formGroup]="formExample" method="post" >
<div class="category">
  <p class="title">Category</p>
  <div class="contact">
    <p>Housing</p>
    <select  formControlName="type">
      <option value="House">House</option>
      <option value="Apartament">Apartament</option>
    </select>
  </div>
  <div class="contact">
    <p>Sale</p>
    <select formControlName="category">
      <option *ngFor="let cato of cat;" value="{{cato.id}}"> {{cato.nombre}}</option>
    </select>
  </div>


  <div class="contact">
    <p>Departament</p>
    <select formControlName="departament">
      <option value="Antioquia">Antioquia</option>
    </select>
  </div>
  <div class="contact">
    <p>City</p>
    <select formControlName="city">
      <option value="Medellin">Medellin</option>
      <option value="Itagui">Itagui</option>
    </select>
  </div>
</div>

<div class="general">
    <p  class="title">General information</p>

  <div>
    <p>Title</p>
    <input formControlName="title" type="text" />
  </div>

  <div class="contact__mensage">
    <p>Explanation</p>
    <textarea formControlName="description"></textarea>
  </div>

  <div class="general__more">
    <div>
      <p>Price</p>
      <input formControlName="price" type="number" />
    </div>
  </div>

  <div>
    <p>Number of Room</p>
    <input formControlName="rooms" type="number" />
  </div>

  <div>
    <p>Number of Living Room</p>
    <input formControlName="roomsl" type="number" />
  </div>

  <div>
    <p>Gross M<sup>2</sup></p>
    <input formControlName="size" type="number" />
  </div>

  <div>
    <p>Net M<sup>2</sup></p>
    <input formControlName="sizen" type="number" />
  </div>


  <div>
    <p>Building Age</p>
    <input formControlName="age" type="number" />
  </div>




</div>
<form [formGroup]="formFile" method="post" >
<div class="posting">
  form
    <p class="title">Posting Photos</p>
    <div>
        <span class="material-icons">
            folder
            </span>
        <p>You can add 5 photos to your add</p>
        <input id="files" formControlName="file" class="file" type="file" multiple>
    </div>

</div>
</form>
<!--
<div class="features">
    <p class="title">Features</p>
    <p class="subtitle">internal</p>
    <div class="features__grid">
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
    </div>

    <p>Externa</p>
    <div class="features__grid">
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
        <label for=""><input type="checkbox" name="" id="">Lorem</label>
    </div>
</div>
-->
<div class="button">
    <button [disabled]="!formExample.valid" (click)="send()"><p class="title">Next</p></button>
</div>
