<div class="modal disable" id="modal" >
  <div>
    <p class="title">{{asesor.nombre}} {{asesor.apellido}}</p>
    <p>{{asesor.celular}}</p>
    <button (click)="solicitar()">Request</button>
    <button (click) = "cerrar()">cerrar</button>
  </div>
</div>

<div class="basic">
  <div class="basic__left">
    <div class="basic__left__text">
      <div class="basic__left__title">
        <p class="title">{{dates.title}}</p>
        <p>{{dates.tipoOferta}}</p>
      </div>
      <div class="basic__left__price">
        <p class="title">{{dates.general[0]}}$</p>
      </div>
    </div>
    <div class="basic__left__images">
      <img class="basic__left__images_sup" src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[0] }}">
      <div class="basic__left__images_inf">
        <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[1] }}">
        <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[2] }}">
        <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[3] }}">
        <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[4] }}">
      </div>
    </div>
  </div>
  
  <div class="basic__right">
    <div class="porfile"></div>
    <p class="title">{{asesor.nombre}} {{asesor.apellido}}</p>
    <button (click) = "ver()"><span></span>View Phone</button>
  </div>

  <div class="general_information">
    <p class="title">General information</p>
    <div class="general_information__left">
      <div>
        <p>Rooms</p>
        <p>{{dates.general[1]}}</p>
      </div>
      <div>
        <p>Living Rooms</p>
        <p>{{dates.general[2]}}</p>
      </div>
      <div>
        <p>Size</p>
        <p>{{dates.general[3]}}</p>
      </div>
      <div>
        <p>Net Size</p>
        <p>{{dates.general[4]}}</p>
      </div>
      <div>
        <p>Age</p>
        <p>{{dates.general[5]}}</p>
      </div>
    </div>
<!--
    <div class="general_information__right">
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
      </div>
      -->

  </div>
</div>
<div class="explanation">
  <p class="title">Explanation</p>
  <p>
  {{dates.description}}
  </p>
</div>
<!--
<div class="charasterist">
    <div class="interior">
        <p class="title">Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
    </div>
    <div class="exterior">
        <p class="title">Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
    </div>

</div>
-->
<br>

