p{
    margin: 0px;
}

.title{
    font-size: 150%;
}
.basic{
    width: 90vw;
    margin: 10px auto;
}

.basic div{
    display: inline-block;
}
.basic .basic__left{
    width: 70vw;
}

.basic .basic__right{
    width: 20vw;
}

.basic__left__text{
    width: 100%;
}
.basic__left__text div{
    width: 50%;
    padding: 0px 40px;
    box-sizing: border-box;
}

.basic__left__price{
    text-align: end;
    vertical-align: 5px;
}
.basic__left__images_sup{
    width: calc(70vw - 80px);
    height: 40vh;
    background:url('https://q-xx.bstatic.com/images/hotel/max1024x768/237/237070641.jpg');
    background-size:cover ;
    margin: 10px 0px 0px 40px;
}
.basic__left__images_inf div{
    width: calc(17.5vw - 40px - 10px );
    height: calc(17.5vw - 40px - 10px );
    background:url('https://q-xx.bstatic.com/images/hotel/max1024x768/237/237070641.jpg');
    margin: 10px 0px 0px 40px;
    background-size:cover ;
}
.basic__right{
text-align: center;
vertical-align: top;
}

.porfile{
    margin: 50px 0px 0px 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:url('https://www.grovenetworks.com/images/easyblog_shared/July_2018/7-4-18/b2ap3_large_totw_network_profile_400.jpg');
    background-size:cover ;
}
button {
	border-radius: 20px;
	border: 1px solid white;
	background-color: #31AA52;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin: 10px;
}

.general_information{
    margin: 50px 0px;
    padding: 0px 40px;
    width: 70vw;
    box-sizing: border-box;
}

.general_information div{
    margin: 0px 0px;
    width: 50%;
}
.general_information div div{
    width: 100%;
    margin: 0px;
}

.general_information div div p:first-child{
    color: #000000aa;
}

.general_information div div p{
    display: inline-block;
    margin: 10px 10px;
}

.explanation{
    margin: 0px 5vw;
    padding: 0px 40px;
    width: 70vw;
    box-sizing: border-box;
}

.explanation .title{
    margin: 10px 0px;

}

.charasterist{
    margin: 50px 5vw;
    padding: 0px 40px;
    width: 70vw;
    box-sizing: border-box;
}

.charasterist div{
    width: 50%;
    display: inline-block;
}
.charasterist div p{
    color:#000000aa ;
}
.charasterist div p:first-child{
    color:black;
}