<div class="icon__div">
  <span class="material-icons active">edit</span>
  <div class="divisor active"></div>
  <span class="material-icons active">visibility</span>
  <div class="divisor active"></div>
  <span class="material-icons">check</span>
</div>

<div class="basic">
  <div class="basic__left__images">
    <div class="basic__left__images_inf">
      <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[0] }}" alt="">
      <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[1] }}" alt="">
      <img src="http://localhost:3000/archivo/1/{{ dates.pathFotografias[2] }}" alt="">
    </div>
  </div>
</div>
<div class="basic2">
  <div class="basic__left__text">
    <div class="basic__left__title">
      <p class="title">{{ dates.title }}</p>
      <p>{{ dates.tipoOferta }}</p>
    </div>
    <div class="basic__left__price">
      <p class="title">{{ dates.general[0] }}$</p>
    </div>
  </div>

  <div class="general_information">
    <p class="title">General information</p>
    <div class="general_information__left">
      <div>
        <p>Rooms</p>
        <p>{{ dates.general[1] }}</p>
      </div>
      <div>
        <p>Living Rooms</p>
        <p>{{ dates.general[2] }}</p>
      </div>
      <div>
        <p>Size</p>
        <p>{{ dates.general[3] }}</p>
      </div>
      <div>
        <p>Net Size</p>
        <p>{{ dates.general[4] }}</p>
      </div>
      <div>
        <p>Age</p>
        <p>{{ dates.general[5] }}</p>
      </div>
    </div>
    <!--
    <div class="general_information__right">
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
      </div>
      -->
  </div>

  <div class="explanation">
    <p class="title">Explanation</p>
    <p>
      {{ dates.description }}
    </p>
  </div>

  <!--
    
    <div class="charasterist">
        <div class="interior">
            <p class="title">Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
        </div>
        <div class="exterior">
            <p class="title">Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
        </div>


    -->
</div>

<div class="button">
  <a href="/finishpublish">
    <button><p class="title">Next</p></button>
  </a>
</div>
