<div class="icon__div">
  <span class="material-icons active">edit</span>
  <div class="divisor active"></div>
  <span class="material-icons active">visibility</span>
  <div class="divisor active"></div>
  <span class="material-icons">check</span>
</div>

<div class="basic">
      <div class="basic__left__images">
        <div class="basic__left__images_inf">
          <div></div>
          <div></div>
          <div></div>
        </div>
    </div>
</div>
<div class="basic2">
    <div class="basic__left__text">
        <div class="basic__left__title">
          <p class="title">Lorem</p>
          <p>Lorem</p>
        </div>
        <div class="basic__left__price">
          <p class="title">12317524313$</p>
        </div>
      </div>



      <div class="general_information">
        <p class="title">General information</p>
        <div class="general_information__left">
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <div>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
        </div>
    
        <div class="general_information__right">
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
            <div>
              <p>Lorem</p>
              <p>Lorem</p>
            </div>
          </div>
    
      </div>
    <div class="explanation">
      <p class="title">Explanation</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem consequuntur
        sint omnis commodi, accusamus mollitia, atque officia repudiandae temporibus
        earum fugit ducimus. Vitae fugiat architecto molestiae aut amet cupiditate
        eveniet.
      </p>
    </div>
    
    <div class="charasterist">
        <div class="interior">
            <p class="title">Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
        </div>
        <div class="exterior">
            <p class="title">Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
        </div>


    
</div>

<div class="button">
  <a href="/finishpublish">
    <button><p class="title">Next</p></button>
  </a>
</div>