<p>download works!</p>
<div class="filtre">
    <div>
        <select id="departament">
            <option value="">Consult</option>
        </select>
    </div>

    <div>
        <input type="text">
        <span class="material-icons">search</span>
    </div>
</div>

<div class="central">
    <p class="title green">Requests</p>
    <div class="list">
        
        <p class="green">code</p>
        <p class="green">Propiety</p>
        <p class="green">Departament</p>
        <p class="green">City</p>
        <p class="green">Address</p>

        <p>lorem</p>
        <div class="card">
            <div class="card__image"></div>
            <div>
                <p>Title</p>
                <p class="class__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis unde adipisci qui neque sit atque mollitia natus officiis amet. Reiciendis natus vitae voluptatibus ipsum quos quasi illo quam temporibus laboriosam?</p>
            </div>
        </div>

        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>

    </div>

</div>

<div class="button">
    <a href="/previewpublish">
      <button><p class="title">Next</p></button>
    </a>
  </div>