
<div class="one">
    <div class="contact">
        <p class="title">Dates user</p>
        <form [formGroup]="formExample" (submit)="send()">
          <div>
            <p>Name</p>
            <input type="text" />
          </div>

          <div>
          <p>Last name</p>
          <input type="text" formControlName="lastName"/>
          </div>
    
          <div>
            <p>Edad</p>
            <input type="number" formControlName="edad" />
          </div>
    
          <div class="contact__direction">
            <p>Genero</p>
            <select id="departament" formControlName="genero">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="Otro">Otro</option>
            </select>
          </div>
    
          <div>
            <p>email</p>
            <input type="email" formControlName="email" />
          </div>
    
          <div>
            <p>password</p>
            <input type="password" formControlName="password" />
          </div>      
    
          <div>
            <div class="contact__direction">
              <p>Departament</p>
              <select id="departament" formControlName="departament">
                <option value="Antioquia">Antioquia</option>
                <option value="Cundinamarca">Cundinamarca</option>
              </select>
            </div>
    
            <div class="contact__direction2">
              <p>City</p>
              <select id="city" formControlName="city">
                <option value="Medellin">Medellin</option>
                <option value="Itagui">Itagui</option>
              </select>
            </div>
          </div>
    
          <div>
            <p>Mobile Number</p>
            <input type="text" formControlName="number" />
          </div>
    
          <div>
            <p>Identification</p>
            <input type="text" formControlName="Identification"/>
          </div>
    
          <div class="contact__mensage">
            <p>Address</p>
            <input formControlName="address"/>
          </div>
    
          <div class="button">
            <button [disabled]="!formExample.valid">Login</button>
          </div>
        </form>
      </div>
      <div class="right">
        <p class="right__title">Sign Up</p>
        <p class="right__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aspernatur eligendi dicta! Obcaecati accusamus, quae asperiores, ad quaerat eligendi debitis aut dicta, voluptates adipisci cumque velit nisi quibusdam mollitia doloribus!
        Ex laborum quam quod at laboriosam? Ad molestiae modi, accusamus tempore dignissimos explicabo animi omnis labore? At incidunt ipsam libero reprehenderit voluptates. Dicta fuga accusantium aperiam, quasi sed dolorem odit.
        Optio, aliquam exercitationem! Ducimus neque, facilis quos iste nesciunt dignissimos libero quis voluptatum dolore atque magni in, veniam nam totam cupiditate molestiae suscipit, ullam aut voluptate. Voluptatum labore animi quisquam!</p>

      </div>
    </div>
    
    
    <div class="button">
        <a href="/login"><button>Login</button></a>
    </div>
    