<p>download works!</p>
<div class="filtre">
    <div>
        <select id="departament">
            <option value="">Consult</option>
        </select>
    </div>

    <div>
        <input type="text">
        <span class="material-icons">search</span>
    </div>
</div>

<div class="central">
    <p class="title green">Requests</p>
    <div class="list">
        
        <p class="green">Code</p>
        <p class="green">Type</p>
        <p class="green">Type Build</p>
        <p class="green">Departament</p>
        <p class="green">City</p>
        <p class="green">Address</p>
        <p class="green">asesor</p>
        <p class="green">Contrat</p>
        <p class="green">Contrat</p>

        


        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
        <a href="/login"><button>Aproved</button></a>
        <a href="/login"><button>Denied</button></a>


    </div>

</div>

<div class="button">
    <a href="/previewpublish">
      <button><p class="title">Next</p></button>
    </a>
  </div>